@font-face {
    font-family: Nunito Sans;
    src: url(fonts/NunitoSans-Regular.ttf);
}
@font-face {
    font-family: Yeseva One;
    src: url(fonts/YesevaOne-Regular.ttf);
}
@media screen and (min-width: 1301px) {
    .projects-img2, .style-img {
        display: none;
    }
}
body {
    margin: 0;
    font-family: Nunito Sans;
}
body *{
    box-sizing: border-box;
}
.container {
    max-width: 1263px;
    margin: 0 auto;
}
.header, .footer {
    background-color:#131313;
}
.header-content {
    height: 83px;
}
.header-content, .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    text-transform: uppercase;
}
.logo, .phone {
    color: #E3B873;
}
.header-navigation {
    list-style: none;
    display: flex;
}
.header-navigation-item {
    margin-right: 47px;
}
.header-navigation-item a {
    color: #FFFFFF;
    text-decoration: none;
}
.header-navigation-item a:focus {
    color: #E3B873;
}
.button {
    border-radius: 2px;
    outline: 0;
    color: #FFFFFF;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
}
.button-header {
    height: 37px;
    width: 161px;
    background: #E3B873;
    border: 0;
    font-style: italic;
    box-shadow: 0px 5px 15px 0px #E3B87333;
}
.hero {
    background-image: url('image/hero.jpg');
    background-size: cover;
    height: 707px;
    position: relative;
}
.hero-container {
    position: relative;
    z-index: 1;
    padding-top: 194px;
    padding-bottom: 208px;
    padding-left: 45px; 
}
.hero-overlay, .video-overlay, .style-overlay, .contacts-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.hero-overlay {
    background-color: #000000B2;
}
.title {
    margin: 0;
    font-family: Yeseva One;
    font-size: 40px;
    font-weight: 400;
    line-height: 53.13px;
    text-align: left;
    vertical-align: top;
    text-transform: uppercase;
    color: #FFFFFF;
}
.city {
    color: #E3B873;
}
.hero-content {
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: Nunito Sans;
    font-size: 22px;
    line-height: 36.01px;
    text-align: left;
    Vertical-align: top;
    color: #FFFFFF; 
}
.button-calculate, .button-application {
    height: 51px;
    width: 207px;
    font-style: italic;
}
.button-calculate {
    box-shadow: 0px 5px 15px 0px #E3B8734D;
    border: 0;
    background: #E3B873;
}
.button-application {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
    margin-left: 20px;
}
.projects {
    background-color: #131313;
    height: 1074px;
    padding-bottom: 416px;
}
.projects-container {
    padding-top: 99px;
}
.projects-navigation {
    margin: 0 0 0 550px;
    height: 43px;
    width: 625px;
    align-items:flex-start;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}
.projects-navigation-item a {
    font-family:Yeseva One;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF4D;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 7px;
}
.projects-navigation-item :focus{
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}
.projects-navigation-item a:hover, .type-of-style-item a:hover, .header-navigation-item a:hover {
    color: #E3B873;
}
.completed-projects {
    width: 100%;
    padding-left: 27px;
    margin-top: 45px;
    display: flex;
}
.completed-projects-content {
    margin: 0;
    width: 487px;
    height: 481px;
    position: relative;
}
.subtitle {
    width: 253px;
    margin-top: 0;
    margin-bottom: 34px;
    font-family:Yeseva One;
    font-size: 27px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-align: left;
    color: #E3B873;
    text-transform: uppercase;
}
.completed-projects-description {
    margin: 0;
    width: 442px;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.completed-projects-information {
    margin-top: 37px;
    display: grid;
    grid-template-columns: 180px 250px;
    grid-template-rows: 110px 130px;
}
.title-four {
    margin-top: 0;
    font-family: Yeseva One;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}
.title-four-project {
    margin-bottom: 10px;
    color: #E3B873;
    text-transform: uppercase;
}
.information-about-project p{
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    width: 100px;
    margin: 0;
}
.arrows {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
}
.circle {
    height: 9.6px;
    width: 9.6px;
    border-radius: 30px;
}
.circle1 {
    background-color: #FFFFFF;
    margin-left: 29.5px;
}
.circle1, .circle2 {
    margin-right: 17.5px;
}
.circle2, .circle3 {
    background-color: #FFFFFF4D;
}
.circle3 {
    margin-right: 29.5px;
}
.projects-img {
    margin-left: 35px;
}
.online-control {
    margin-top: -347px;
    height: 1050px;
}
.title-three-control {
    margin: 0;
}
.camera {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
    margin-bottom: 33px;
}
.camera-line {
    margin: 0 9px 0;
}
.video {
    position: relative;
    width: 817px;
    height: 434px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(image/control.jpg);
    background-size: contain;
}
.video-overlay {
    background-color: #000000CC;
}
.video-play {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    background: url(image/video-play.png) no-repeat center center;
    background-color: #E3B873;
    position: absolute;
}
.line {
    height: 1.55px;
    width: 55px;
    margin: 62.5px auto 34.5px;
    background-color: #E3B873;
    border: none;
}
.control-content-information {
    margin: 0 auto;
    font-size: 18px;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
    color: #363636;
    width: 681px;
}
.form-control {
    width: 770px;
    margin: 0 auto;
    padding-top: 91px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    align-content: space-between;
}
.name {
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}
.name-control {
    color: #36363680;
}
.input {
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    padding: 0;
    height: 32px;
    margin: 0;
}
.input-control {
    width: 231px;
    border-bottom: 1px solid #3636364D;
    margin-right: 53px;
}
.input-control::placeholder {
    color: #363636;
}
.button-submit{
    box-shadow: 0px 15px 15px 0px #E3B87326;
    height: 51px;
    width: 200px;
    border-radius: 2px;
    background: #E3B873;
    border: 0;
    font-size: 13px;
}
.input-data {
    height: 18px;
    width: 18px;
    position: absolute;
    z-index: -1;
    opacity: 0;
    bottom: 0;
}
.input-data+label {
    user-select: none;
    display: flex;
    align-items: flex-start;
}
.input-data+label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #E3B873;
    border-radius: 1px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    margin-right: 8px;
}
.input-data:checked+label::before {
    background-color: #E3B873;
    background-image: url(image/check.png);
}
.label-data {
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    align-items: center;  
}
.label-data-control {
    color: #181818;
    margin-top: 37px;
}
.types-of-repair {
    height: 1840px;
}
.title-three {
    font-family: Yeseva One;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
}
.title-three-control, .title-three-question {
    color: #FFFFFF;
}
.title-three-repair {
    color: #181818;
    margin-bottom: 0px;
    padding-top: 45px;
}
.hammer {
    margin-top: 13px;
    margin-bottom: 31px;
    display: flex;
    justify-content: center;
}
.types-of-repair-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.repair {
    width: 392px;
    position: relative;
}
.repair-img {
    height: 421px;
}
.repair-img1 {
    background: url(image/redecorating.jpg);
    background-size: contain;
}
.repair-img2 {
    background: url(image/overhaul.jpg);
    background-size: contain;
}
.repair-img3 {
    background: url(image/designer-repair.jpg);
    background-size: contain;
}
.repaip-content {
    margin: -127px auto 0;
    width: 330px;
    height: 286px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px 0px #00000008;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}
.title-four-repair {
    margin-top: 25px;
    margin-bottom: 13px;
    color: #363636;
    padding-left: 34px;
}
.repair-services{
    margin: 0px;
    font-size: 13px;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #959595;
    padding-left: 34px;
    list-style-position: inside;
}
.price {
    width: 228px;
    height: 54px;
    background-color: #E3B873;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    margin: 0;
    bottom: -27px;
    box-shadow: 5px 5px 10px 0px #E3B8734D;
}
.measurement {
    margin-bottom: 0;
    background: url(image/measurement.jpg) left top no-repeat;
    margin-top: 153px;   
}
.measurement-container {
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 612px;
}
.measurement-content {
    margin-left: 160px;
    display: flex;
    flex-wrap: wrap;
    width: 380px;
    align-content: space-between;
    height: 480px;
}
.title-four-measurement {
    outline: 8px solid #FFFFFF;
    border-radius: 30px;
    width: 42px;
    height: 42px;
    background-color: #E3B873;
    color: #FFFFFF;
    text-align: center;
    box-shadow: 0px 5px 15px 0px #E3B87326;
    line-height: 42px;
    letter-spacing: 0em;
    margin-top: 0;
    margin-bottom: 0;
}
.measurement-stage {
    display: flex;
    align-items: center;
    width: 310px;
    height: 39px;
    margin-left: 17px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #363636;
}
.form-measurement {
    background-color: #131313;
    box-shadow: 0px 30px 30px 0px #0000000D;
    height: 509px;
    min-width: 506px;
    display: flex;
    flex-direction: column;
    padding: 28px 49px 0;
    margin-top: -10px;
    position: relative;
}
.form-measurement-title {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
    width: 250px;
}
.name-measurement {
    color: #FFFFFF80;
    padding-top: 38px;
}
.input-measurement {
    background-color: #131313;
    border-bottom: 1px solid #FFFFFF26;
    color: #FFFFFF;
    width: 408px;
    margin-bottom: 9px;
}
.input-measurement::placeholder, .input-question::placeholder, .input-yourquestion::placeholder {
    color: #FFFFFF;
}
.name-measurement {
    margin: 0 auto;
    width: 408px;
}
.button-measurer {
    height: 51px;
    width: 213px;
    border-radius: 0px;
    background-color: #E3B873;
    box-shadow: 0px 5px 15px 0px #E3B87326;
    font-size: 13px;
    position: absolute;
    top: 431px;
    left: 244px;
}
.label-data-measurement {
    color: #FFFFFF;
    margin-top: 7px;
}
.saving {
    display: flex;
    margin-left: 778px;
    margin-top: 38px;
    align-items: center;
}
.pig {
    height: 72px;
    width: 72px;
    background: url(image/pig.png) no-repeat center center;
    border-radius: 50px;
    box-shadow: 0px 10px 20px 0px #EDC07833;
    background-color: #E3B873;
    
}
.saving-information {
   font-size: 18px;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    box-shadow: 0px 3px 10px 0px #E3B87326;
    color: #E3B873;
    margin-left: 25px;
    width: 220px;
}
.style {
    height: 864px;
    background-image: url(image/style.jpg);
    background-size: cover;
    position: relative;
}
.style-overlay {
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}
.style-container {
    display: flex;
}
.style-content {
    position: relative;
    z-index: 1;
    width: 498px;
    padding-top: 138px;   
}
.type-of-style {
    margin-top: 47px;
    padding-left: 0;
}
.type-of-style-item {
    margin-bottom: 23px;
    list-style: none;
}
.type-of-style-item a {
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.type-of-style-item a:focus{
    color: #E3B873;
    border-bottom: 0.6px solid #E3B873;
}
.photo {
    margin-top: -113px;
    margin-bottom: -41px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    position: relative;
    z-index: 1;
    height: 1018px;
    width: 750px;
    justify-content: flex-end;
}
.photo1 {
    height: 558px;
    width: 354px;
    background: url(image/style1.jpg);
    margin-bottom: 39px;
}
.photo2{
    height: 349px;
    width: 354px;
    background-image: url(image/style2.jpg);
} 
.photo3 {
    height: 275px;
    width: 354px;
    background-image: url(image/style3.jpg);
    margin-bottom: 37px;
}
.photo4 {
    height: 625px;
    width: 354px;
    background-image: url(image/style4.jpg);
    margin-bottom: 80px;
}
.clients {
    height: 1109px;
    background: url(image/town1.jpg) bottom left no-repeat, url(image/town2.jpg) bottom right no-repeat;
    padding-bottom: 355px;
    margin-top: 0;
    
}
.title-three-clients{
    padding-top: 110px;
    margin-bottom: 0;
}
.handshake {
    margin: 14px auto 24px;
    display: flex;
    justify-content: center;
}
.clients-content {
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    width: 400px;
    margin: 0 auto;
}
.review-content {
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
}
.review {
    height: 428px;
    width: 376px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 24px;
    align-content: flex-start;
    position: relative;
    box-shadow: 0px 10px 50px 0px #0000000A;
}
.client-photo {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    margin-bottom: 22px;
    margin-left: 20px;
}
.client-photo1 {
    background-image: url(image/client-photo1.jpg);
}
.client-photo2 {
    background-image: url(image/client-photo2.jpg);
}
.client-photo3 {
    background-image: url(image/client-photo3.jpg);
}
.title-four-client {
    width: 178px;
    margin-bottom: 22px;
    margin-left: 23px;
}
.client-review {
    width: 318px;
    margin: 0 20px;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #959595;
}
.area-and-time {
    display: flex;
    height: 54px;
    width: 294px;
    background-color: #E3B873;
    align-items: center;
    justify-content: space-around;
    box-shadow: 5px 5px 20px 0px #E3B87380;
    position: absolute;
    bottom: -27px;
}
.area, .time {
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color:#FFFFFF;
    text-transform: uppercase;
}
.area {
    border-right: 0.75px solid #FFFFFF;
    height: 100%;
    padding-right: 14px;
    line-height: 54px;
}
.form-question {
    height: 445px;
    width: 883px;
    background-color:#181818;
    margin: 159px auto 0;
    padding-top: 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    position: relative;
}
.title-three-question {
    width: 100%;
    margin-bottom: 46px;
}
.input-question {
    width: 231px;
    margin-bottom: 49px;
}
.input-question, .input-yourquestion {
    background-color: #181818;
    border-bottom: 1px solid #FFFFFF26;
    color: #FFFFFF;
}
.input-yourquestion {
    width: 517px;
    margin-bottom: 46px;
}
.name-phone {
    margin-left: 58px;
}
.name-question, .name-phone {
    color: #FFFFFF80;
}
.label-data-question {
    color: #FFFFFF;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.contacts {
    height: 954px;
    background: url(image/building.jpg);
    position: relative;
    z-index: -2;
}
.contacts-overlay {
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
    position: absolute;
    z-index: -1;
}
.contacts-container {
    padding-top: 275px;
}
.title-three-contacts {
    color: #E3B873;
    margin: 0 auto;
    width: 589px;
    margin-bottom: 26px;
}
.contacts-content {
    display: flex;
    justify-content: center;
}
.map {
    background: url(image/map.jpg);
    background-size: contain;
    width: 925px;
    height: 465px;
    margin: 0 auto;
}
.social-network {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border: 0;
    padding: 0;
    margin-bottom: 43px;
}
.social-network2 {
    margin-left: 15px;
    background: url(image/network2.png) no-repeat center center;
    background-color: #E3B873;
}
.social-network1 {
    background: url(image/network1.png) no-repeat center center;
    background-color: #E3B873;
}
.footer-content {
    height: 133px;
}
@media screen and (min-width:340px) and (max-width: 1300px) {
    .header-navigation, .button-header, .projects-content, .arrows, .projects-img, .measurement, .type-of-style, .photo, .title-three-clients, .handshake, .clients-content, .review-content, .style-overlay, .footer, .contacts-overlay {
        display: none;
    }
    .phone {
        color: #FFFFFF;
        text-decoration: none;
    }
    .hero {
        height: 476px;
    }
    .container {
        width: 340px;
    }
    .hero-container {
        display: flex;
        flex-direction: column;
        padding: 85px 0 0;
    }
    .title {
        font-size: 23px;
        line-height: 31px;
    }
    .hero-content {
        font-size: 14px;
        line-height: 19px;
    }
    .button-calculate, .button-application {
        width: 100%;
    }
    .button-application {
        margin: 26px 0 0;
    }
    .projects {
        height: 727px;
    }
    .projects-container {
        padding-top: 36px;
    }
    .subtitle {
        font-size: 22px;
        text-align: center;
        margin: 0 auto;
        width: 200px;
        line-height: 30px;
    }
    .completed-projects {
        flex-direction: column;
        align-items: center;
        padding: 0;
        justify-content: flex-start;
        margin: 0;
    }
    .completed-projects-content {
        width: 100%;
    }
    .completed-projects-description {
        font-size: 11px;
        line-height: 17px;
        text-align: center;
        width: 311px;
        margin: 22px auto 72px;
    }
    .projects-img2 {
        background: url(image/projects1.jpg);
        width: 100%;
        height: 241px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .selektor {
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }
    .selektor1 {
        background: url(image/selector-left.png) no-repeat center center;
        background-color: #E3B873;
        margin-left: 14px;
    }
    .selektor2 {
        background: url(image/selector-right.png) no-repeat center center;
        background-color: #E3B873;
        margin-right: 14px;
    }
    .completed-projects-information {
        grid-template-columns: 160px 180px;
        grid-template-rows: 95px 44px;
    }
    .title-four {
        font-size: 14px;
        line-height: 19px;
    }
    .information-about-project p {
        font-size: 11px;
        line-height: 15px;
    }
    .online-control {
        background-color:#131313;
        margin-top: 0;
        height: 826px;
    }
    .control-container {
        position: relative;
        height: 100%;
    }
    .title-three {
        font-size: 22px;
        line-height: 30px;
    }
    .camera {
        margin-top: 19px;
        margin-bottom: 40px;
    }
    .video {
        width: 100%;
        height: 207px;
    }
    .video-play {
        width: 37px;
        height: 37px;
        background: url(image/video-play1.png) no-repeat center center;
        background-color: #E3B873;
    }
    .line {
        margin-top: 28px;
        margin-bottom: 21px;
    }
    .control-content-information {
        font-size: 11px;
        line-height: 19px;
        color: #FFFFFF;
        width: 100%;
    }
    .form-control {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        position: relative;
        align-content: center;
        padding: 0;
        position: absolute;
        bottom: -25px;
    }
    .name-control, .name-question, .name-phone {
        color: #FFFFFF80;
        border-bottom: 1px solid #FFFFFF;
        margin-top: 61px;
        margin-left: 0;
    }
    .input-control, .input-question, .input-yourquestion {
        width: 100%;
        margin: 0;
        background-color: #131313;   
    }
    .input-control::placeholder {
        color: #FFFFFF;
    }
    .label-data-control, .label-data-question {
        margin-top: 27px;
        order: 1;
        color: #FFFFFF;
    }
    .button-submit {
        order: 2;
        width: 100%;
        margin-top: 62px;
    }
    .types-of-repair {
        height: 2030px;
    }
    .title-three-repair {
        padding-top: 83px;
    }
    .hammer {
        margin-top: 17px;
        margin-bottom: 40px;
    }
    .types-of-repair-content {
        flex-direction: column;
    }
    .repair {
        width: 100%;
    }
    .repair-img {
        height: 365px;
    }
    .repaip-content {
        margin-left: 0;
        height: 241px;
        width: 270px;
        margin-bottom: 79px;
        margin-top: -142px;
    }
    .title-four-repair {
        font-size: 15px;
        margin-top: 21px;
        margin-bottom: 10px;
        color: #363636;
        padding-left: 31px;
    }
    .repair-services {
        line-height: 22px;
    }
    .price {
        width: 190px;
        height: 40px;
        font-size: 15px;
        line-height: 40px;
        margin: 0;
        bottom: -20px;
    }
    .style {
        background: none;
        background-color: #131313;
        height: 121px;
    }
    .style-content {
        padding: 0;
        position: relative;
    }
    .subtitle-style {
        margin-top: -211px;
    }
    .style-img {
        background: url(image/style.jpg);
        background-size: cover;
        height: 242px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        top: -121px;
    }
    .clients {
        background: none;
        background-color: #131313;
        height: 549px;
        padding: 0;
    }
    .form-question {
        margin: 0;
        background-color: #131313;
        width: 100%;
        padding: 0;
        margin: 0;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        height: 100%;
    }
    .title-three-question {
        margin: 0 auto;
        padding-top: 52px;
    }
    .label-data-question {
        margin-top: 21px;
        margin-bottom: 0;
        justify-content: flex-start;   
    }
    .contacts {
        height: 567px;
        background: none;
        background-color: #131313;
    }
    .contacts-container {
        padding-top: 76px;
        display: flex;
        flex-direction: column;
    }
    .title-three-contacts {
        width: 100%;
        font-size: 18px;
        order: 2;
        margin-top: 42px;
        margin-bottom: 24px;
    }
    .map {
        width: 100%;
        height: 255px;
        order: 1;
    }
    .contacts-content {
        order: 3;
    }
    .social-network {
        width: 39px;
        height: 39px;
    }
       
}